*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

.anchor{
    text-decoration: none;
}

.colordegradadorosa {
    background: rgb(244,108,130);
    background: linear-gradient(68deg, rgba(244,108,130,1) 0%, rgba(97,31,114,1) 100%);
    height: 100vh;
}

nav {
    background-color: rgba(0, 0, 0, 0.122);
    position: fixed !important;
    z-index: 100;
    width: 100%;
    top: 0px;
    left: 0;
    width: 100%;
    height: 10vh;
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    backdrop-filter: blur(3.6px) !important;
    -webkit-backdrop-filter: blur(8.6px) !important;
}


.enlacenav {
    color: white!important;
    font-size: 15px !important;
}

.enlacenav:hover {
    transition-duration: 350ms;
    color: #262D35 !important;
}

.logo {
    width: 34px;
    margin-left: 1rem;
}

.iphone {
    width: 500px;
    margin-top: 4rem;
    margin-right: 320px;
}

.subtitulo {
    position: absolute;
    color: white;
    bottom: 52px;
    font-size: 120px;
    font-family: 'Secular One', sans-serif;
}

.titulo{
    color: white;
    margin-right: 100px;
    width: 256px;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 10px;
}

.containerimgtit{
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
}

.containerparrafo p{
    color: white;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

button {
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    width: 95.02px;
    height: 42.66px;
    border: none;
    border-radius: 4px !important;
    background-color: #262D35;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  button:hover .span-mother {
    position: absolute;
  }
  
  button:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
  button .span-mother span:nth-child(1) {
    transition: .2s;
  }
  
  button .span-mother span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother span:nth-child(6) {
    transition: .7s;
  }
  
  button .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  button .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  button:hover .span-mother2 span {
    transform: translateY(0);
  }
  
  button .span-mother2 span {
    transition: .2s;
  }
  
  button .span-mother2 span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother2 span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother2 span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother2 span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother2 span:nth-child(6) {
    transition: .7s;
  }

  .imagenemergencia {
    width: 330px;
    margin-right: 60px;
}

  .container2daparte {
    height: 100vh;
  }

  .imagenreloj{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
  }

  .textoreloj{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
.parrafochoque{
    font-size: 20px;
    font-weight: 500;
    width: 60%;
}

.contenedorautochocado{
    height: 100vh;
    background-image: url(./recursos/autos-bosque.jpg);
}

.bosque{
    width: 70%;
    color: white;
    font-size: 80px;
    font-family: 'Secular One', sans-serif;
    margin-left: 140px;
}

/* ARRANCA EL footer */


footer {
  position: relative;
}

.footer-clean {  
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.logosFooter {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 2rem;
}

.seccionshop{
  min-height: 320vh;
  margin-top: 100px;
}

.containerinputysearch{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.maintienda{
  min-height: 320vh;
  background: rgb(244,108,130);
  background: linear-gradient(68deg, rgba(244,108,130,1) 0%, rgba(97,31,114,1) 100%);
  padding-bottom: 40px;
}

.card {
  width: 280px;
  height: 420px;
  background: rgba(9, 7, 7, 0.179) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  border-radius: 0px;
  border-radius: 10px 10px 5px 5px;
  margin-top: 32px;
  flex-direction: column;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imgcard{
  height: 50%;
  border-radius: 5px 5px 5px 5px;
}

.imgcard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.descriptioncontainercard{
  width: 100%;
  padding: 30px;
  height: 50%;
  display: flex;
  flex-direction: column;

}
.card h3 {
  color: white;
  height: 20px;
  font-size: 18px;
  font-family:  'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.descriptioncontainercard li{
  font-size: 12px;
  color: white;
  font-family:  'Raleway', sans-serif;
  padding-right: 10px;
  height: 25px;
  font-weight: 400;
  overflow: auto;
}

  .preciocard{
    width: 100%;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid rgb(10, 10, 10);
  }


  .button2 {
    width: 100%;
    padding: 5px;
    appearance: none;
    background-color: #262D35;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 10px;
}

  button:hover {
    background-color: #6F2673;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    transition: ease-in-out 0.4s;
}

.titulotienda{
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  color: white;
}

.labelcheck{
  margin-right: 40px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

.inputcheckbox{
  width: 14px;
  height: 14px;
}

.barrasearch{
  border-radius: 8px;
  border: none;
  font-family: "Nunito", sans-serif;
  padding: 7px;
  width: 270px;
  height: 30px;
  font-size: 12px
}

.card {
  width: 280px;
  height: 420px;
  background: #FFFFFF !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  border-radius: 0px;
  border-radius: 10px 10px 5px 5px;
  margin-top: 32px;
  flex-direction: column;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 

.imgcard{
  height: 50%;
  border-radius: 5px 5px 5px 5px;
}

.imgcard img{
  width: 270px;
  height: 220px;
  object-fit: contain;
  border-radius: 5px 5px 0px 0px;
}

.descriptioncontainercard{
  width: 100%;
  padding: 30px;
  height: 50%;
  display: flex;
  flex-direction: column;

}
.card h3 {
  color: black;
  height: 20px;
  font-size: 18px;
  font-family:  'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.descriptioncontainercard li{
  font-size: 12px;
  color: black;
  font-family:  'Raleway', sans-serif;
  padding-right: 10px;
  height: 25px;
  font-weight: 400;
  overflow: auto;
}

  .preciocard{
    width: 100%;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    color: black;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
    border: 3px solid #6F2673;
  }


  /* /////////////////////////////////////////////////////////////////CARGADOR///////////////////////////////////////////////////////////////////*/

  .wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
      0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
      0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
      linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }

  .ratoncito{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }

  .containernotfound{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
  }

  .containernotfound img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 360px;
  }

  .containernotfound p {
    font-size: 35px;
    margin-top: 32px;
    color: white;
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
  }

