*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

main {
    background: rgb(244,108,130);
    background: linear-gradient(68deg, rgba(244,108,130,1) 0%, rgba(97,31,114,1) 100%);
    height: 100vh;
}

nav {
    background-color: rgba(0, 0, 0, 0.122);
    position: fixed !important;
    z-index: 100;
    width: 100%;
    top: 0px;
    left: 0;
    width: 100%;
    height: 8vh;
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


.enlacenav {
    color: white!important;
    font-size: 15px !important;
}

.enlacenav:hover {
    transition-duration: 350ms;
    color: #262D35 !important;
}

.logo {
    width: 34px;
    margin-left: 1rem;
}

.iphone {
    width: 500px;
    margin-top: 4rem;
    margin-right: 320px;
}

.subtitulo {
    position: absolute;
    color: white;
    bottom: 52px;
    font-size: 120px;
    font-family: 'Secular One', sans-serif;
}

.titulo{
    color: white;
    margin-right: 100px;
    width: 256px;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 10px;
}

.containerimgtit{
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
}

.containerparrafo p{
    color: white;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

button {
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    width: 95.02px;
    height: 42.66px;
    border: none;
    border-radius: 4px !important;
    background-color: #262D35;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  button:hover .span-mother {
    position: absolute;
  }
  
  button:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
  button .span-mother span:nth-child(1) {
    transition: .2s;
  }
  
  button .span-mother span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother span:nth-child(6) {
    transition: .7s;
  }
  
  button .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  button .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  button:hover .span-mother2 span {
    transform: translateY(0);
  }
  
  button .span-mother2 span {
    transition: .2s;
  }
  
  button .span-mother2 span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother2 span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother2 span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother2 span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother2 span:nth-child(6) {
    transition: .7s;
  }